<div >
	<h2>Create new hotel</h2>
	<br>
	<hr/>

	<style type="text/css">
	input.ng-dirty.ng-invalid{
		background-color: pink;
	}

	input.ng-pristine.ng-invalid{
		border-color: red;
		border-width: 1px;
	}

	input.ng-dirty.ng-valid{
		border-color: green;
		border-width: 1px;
	}

	</style>

	<div class="col-md-7">
		<ng-form name="hotelForm" class="form-horizontal" role="form">

			<hotel-entry hotel="item"></hotel-entry>

			<div class="form-group">
				<div class="col-sm-offset-2 col-sm-10">
					<button class="btn btn-default" ng-disabled="hotelForm.$invalid" ng-click="add(item)">Create</button>
				</div>
			</div>
		</ng-form>
	</div>
</div>