<!DOCTYPE html>
<!--[if lt IE 7]>
<html lang="en" ng-app="myApp" class="no-js lt-ie9 lt-ie8 lt-ie7">
  <![endif]-->
  <!--[if IE 7]>
  <html lang="en" ng-app="myApp" class="no-js lt-ie9 lt-ie8">
    <![endif]-->
    <!--[if IE 8]>
    <html lang="en" ng-app="myApp" class="no-js lt-ie9">
      <![endif]-->
      <!--[if gt IE 8]>
      <!-->
      <html lang="en" ng-app="myApp" class="no-js">
        <!--<![endif]-->
<head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>My AngularJS App</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="bower_components/html5-boilerplate/css/normalize.css">
        <link rel="stylesheet" href="bower_components/html5-boilerplate/css/main.css">
        <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css"/>
        <script src="bower_components/html5-boilerplate/js/vendor/modernizr-2.6.2.min.js"></script>
</head>
<body>
        <div class="container">
          <div ng-controller="mainController">
            <h2>{{message}}!</h2>
            <div></div>
            <br/>
            <br/>
            <div>
              <span>
                Search :
                <input type="text" ng-model="searchTerm" />
              </span>
              <span>
                <input type="checkbox" ng-model="showHotels" />
                Show Hotels
              </span>
            </div>

            <div></div>

            <hr/>
            <div ng-show="!showHotels" class="row" ng-repeat="item in hotels | filter : searchTerm | orderBy : 'rating' : true">
              <div class="col-md-2">
                <img ng-src="http://i.imgur.com/{{item.img}}" width="70px" />
              </div>
              <div class="col-md-3">
                <span class="h3" ng-class="(item.price >limit ? highlight_class : '')">{{item.name}}</span>
                <div>
                  <span>
                    <span class="h3">{{item.rating}}</span>
                  </span>
                  <span>{{item.location.area}}</span>
                </div>
              </div>
              <div class="col-md-2">
                <span>
                  <button ng-click="upvote(item)" >up</button>
                  <button ng-click="downvote(item)" >down</button>
                </span>
              </div>
              <div class="col-md-1">
                <span ng-bind="item.price" ng-class="highlight_class"></span>
              </div>

            </div>
          </div>
        </div>
        <!-- In production use:
  <script src="//ajax.googleapis.com/ajax/libs/angularjs/x.x.x/angular.min.js"></script>
      -->
      <script src="bower_components/angular/angular.js"></script>
      <script src="bower_components/angular-route/angular-route.js"></script>
      <script src="js/app.js"></script>
      <script src="js/services.js"></script>
      <script src="js/controllers.js"></script>
      <script src="js/filters.js"></script>
      <script src="js/directives.js"></script>
</body>
    </html>